.profile-title{
    font-size: 36px;
    color: white;
    margin-top: 52px;
}
.profile-body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-top: 58px;
}