  .home-body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-top: 58px;
    background: #15202B;
  }
  .loader{
    margin-top: 50px;
    height: 100px;
    width: 100px;
  }
  .user-error-title{
    color: white;
  }
  .no-messages{
    color: white;
  }
  .tweet-loader{
    height: 350px;
    width: 500px;
  }