.tweetBox-container{
    margin-top: 47px;
    width: calc(100vw/2);
    height: 180px;  
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    z-index: 500;
}
.tweet-button{
    position: absolute;
    height: 35px;
    bottom: 23px;
    right: 17px;
    font-size: 16px;
    line-height: 19px;
    color: white;
    background-color: #007BFF;
    border-radius: 4px;
    font-family: Roboto;
    border: none;
    width: 65px;
}
.tweet-button:active{
    transform: scale(.96);
}
.tweet-button:disabled{
    opacity: 0.5;
}
.text-box{
    position: absolute;
    left: 16px;
    top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    resize: none;
    background: transparent;
    color: #CCCCCC;
    width: calc(100vw/2.2);
    height: 123px;
    border: none;
    font-family: Roboto;
    outline: none;
}
.text-box::placeholder{
    color: #CCCCCC;
}
.error {
    background: #F8D7DA;
    border: 1px solid #F5C6CB;
    box-sizing: border-box;
    border-radius: 4px;
    width: 338px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 16px;
    bottom: 23px;
}
.error-text {
    color: #721C24;
}
@media screen and (max-width: 1000px){
    .error{
        width: calc(100vw/3);
        height: 40px;
        bottom: 15px;
    }
    .tweet-button{
        bottom: 15px;
    }
  }
@media screen and (max-width: 700px){
    .tweetBox-container{
        width: calc(100vw*0.9);
    }
    .text-box{
        width: calc(100vw*0.8);
    }
    .error{
        width: calc(100vw/2);
    }
    .error-text{
        word-wrap: break-word;
    }
  }
  @media screen and (max-width: 400px){
    .error-text{
        font-size: 15px;
    }
    .text-box{
        top: 5px;
    }
  }
  @media screen and (max-width: 310px){
    .error-text{
        font-size: 14px;
    }
  }
