.tweetBox-container{
    margin-top: 47px;
    width: 600px;
    height: 180px;  
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
}
.tweet-button{
    position: absolute;
    bottom: 23px;
    right: 17px;
    font-size: 16px;
    line-height: 19px;
    color: white;
    background-color: #007BFF;
    border-radius: 4px;
    font-family: Roboto;
}
.tweet-button:disabled{
    opacity: 0.5;
}
.text-box{
    position: absolute;
    left: 16px;
    top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    resize: none;
    background: transparent;
    color: #CCCCCC;
    width: 564px;
    height: 123px;
    border: none;
    font-family: Roboto;
    outline: none;
}
.text-box::placeholder{
    color: #CCCCCC;
}
.error {
    background: #F8D7DA;
    border: 1px solid #F5C6CB;
    box-sizing: border-box;
    border-radius: 4px;
    width: 338px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 16px;
    bottom: 23px;
}
.error-text {
    color: #721C24;
}
