.header{
    height: 58px;
    position: fixed;
    background: #343A40;
    border-radius: 6px;
    left: 182px;
    right: 182px;
    z-index: 510;
  }
  .menu-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 30px;
    margin-right: 15px;
  }
  .menu-link:hover{
    color: white;
  }
  .menu-container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
  .selected{
    color: white;
  }
  .logout-button{
    height: 35px;
    font-size: 16px;
    line-height: 19px;
    color: white;
    background-color: rgb(175, 10, 10);
    border-radius: 4px;
    font-family: Roboto;
    border: none;
    width: 85px;
    margin-right: 15px;
}
.logout-button:active{
    transform: scale(.96);
}
.user-image{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-container{
  display: flex;
  align-items: center;
}
.counter{
  color: white;
  margin-right: 13px;
  background: #327b1a;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
.counter:hover{
  opacity: 0.8;
}
.counter:active{
  transform: scale(0.96);
}
  @media screen and (max-width: 775px){
    .header{
      left: 50px;
      right: 50px;
    }
  }
  @media screen and (max-width: 500px){
    .header{
      left: 10px;
      right: 10px;
    }
    .menu-link{
      margin-left: 19px;
      margin-right: 7px;
    }
  }
 