.message-container {
    font-size: 14px;
    margin-top: 20px;
    width: calc(100vw/2);
    background: #343A40;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.message-header {
    color: #6C757D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 10px;
}
.message-content {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    word-wrap:break-word;
}
.message-user-info{
    display: flex;
    align-items: center;
}
.message-text{
    word-wrap: break-word;
    width: 50%;
}
.tweet-image{
    height: 100px;
    width: 100px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.right-side-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.time-date{
    margin-top: 5px;
}
.date-time-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.delete-button{
    margin-top: 5px;
    height: 20px;
    font-size: 14px;
    color: white;
    background-color: rgb(202, 29, 29);
    border-radius: 4px;
    font-family: Roboto;
    border: none;
}
.delete-button:active{
    transform: scale(.96);
}
.delete-button:disabled{
    opacity: 0.5;
}
@media screen and (max-width: 700px){
    .message-container{
        width: calc(100vw*0.9);
    }
}
@media screen and (max-width: 500){
    .message-text{
        width: 60%;
    }
}
