.message-container {
    font-size: 14px;
    margin-top: 20px;
    width: calc(100vw/2);
    background: #343A40;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.message-header {
    color: #6C757D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 10px;
}
.message-content {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    word-wrap:break-word;
}
.message-user-info{
    display: flex;
    align-items: center;
}
.img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.date-time-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time-date{
    margin-top: 5px;
}
@media screen and (max-width: 700px){
    .message-container{
        width: calc(100vw*0.9);
    }
  }
